<h6>New Issue Details</h6>

<form>
  <div class="form-group">
    <label for="title">Title</label>
    <input #issueTitle type="text" class="form-control" id="title" placeholder="Enter Title">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <input #issueDescription type="text" class="form-control" id="description" placeholder="Enter Description">
  </div>
  <div class="form-group">
    <label for="owner">Owner</label>
    <input #issueOwner type="text" class="form-control" id="owner" placeholder="Enter Owner">
  </div>
  <div class="form-group">
    <label for="status">Status</label>
    <input #issueStatus type="text" class="form-control" id="status" placeholder="Enter Status">
  </div>
  <div class="form-group">
    <label for="priority">Priority</label>
    <input #issuePriority type="text" class="form-control" id="priority" placeholder="Enter Priority">
  </div>
  <button (click)="createIssue(issueTitle.value, issueDescription.value, issueOwner.value, issueStatus.value, issuePriority.value)" class="btn btn-primary">Add Issue</button>
</form>